.card-title {
  font-size: smaller;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  box-sizing: border-box;
}
